body {
    background-color: #f0f4f8;
    font-family: Arial, sans-serif;
}
  /* Mobile*/
@media (max-width: 576px) {
  
    .container .row {
        flex-direction: column;
    }

    .container .col-12 {
        margin-bottom: 20px;
    }

    .timeline-number {
        background-color: #9e88ff;
        color: rgb(0, 44, 52);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: inline-flex;/* Hiển thị nội dung theo flexbox dạng inline */
        align-items: center;
        justify-content: center;
    }
    /* border bottom cho title */
    .card-title {
        border-bottom: 1px solid #979797;
        padding-bottom: 10px;
    }
    /* border bottom chp goals và timeline */
    .card-timeline {
        border-bottom: 1px dashed #979797;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 768px) {
    
    .container .row {
        flex-wrap: wrap;
    }
    .list-unstyled li i{
        justify-content: center;
        text-align: center;
    }
    .timeline-number {
        background-color: #9e88ff;
        color: rgb(0, 44, 52);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: inline-flex;/* Hiển thị nội dung theo flexbox dạng inline */
        align-items: center;
        justify-content: center;
    }
    /* border bottom cho title */
    .card-title {
        border-bottom: 1px solid #979797;
        padding-bottom: 10px;
    }
    /* border bottom chp goals và timeline */
    .card-timeline {
        border-bottom: 1px dashed #979797;
        padding-bottom: 10px;
        padding-top: 10px;
    }
   
}